body {
	background-color: #eaeaea;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.0;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    background: url(camping-sunrays.jpg) center left fixed no-repeat;
    background-size: cover;
    width: auto;
}


.container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: left;
    text-overflow: ellipsis;
}

.title {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
}

.assignments {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    margin: 2rem auto;
}

h1, h2 {
    color: #263238;
	text-transform: uppercase;
    font-weight: 600;
    width: auto;
}

a {
	color: #263238; 
	text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #2E7D32;}

ul.plainlist { 
	list-style: none;
	margin: 0;
	padding: 0;
}

ol.numberedlist{
    margin: 0 1em;
    padding: 0 0.2em;
    font-size: 24px;
    font-weight: 600;
}

li a {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
	line-height: 1.6;
}
