body{
	background: #111;
	padding: 0;
	margin: 0;
}

div.gallery {
	display: block;	
	margin: auto;
	width: 50em;
}

div.gallery img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	align: middle;
}

div.desc {
	font-family: poynter-gothic-text, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	padding: 1em 0 2em 0;
	text-align: left;
	color: lightyellow;
}

nav {
	display: block;
	padding: 0 0 1em 0;
	width: 20em;
	margin: auto;
}

nav li {
	font-size: 1em;
}

ul {
	display: block;
}

.logo {
	width: 200px;
	margin: auto;
	margin-top: 2em;
}

.logo img {
	margin: auto;
	display: inline;
	-webkit-filter: drop-shadow(2px 2px 8px white);
    filter: drop-shadow(2px 2px 8px white);
}