/*
 * Hello, my name is TAKUMI ARAI and this is the beginning of my 
 * CONTACT PAGE CSS for 318 Digital Typography November 2019
 */

.my_name {
 	font-family: poynter-oldstyle-display, serif;
	font-size: 48px;
	font-weight: 400;
	padding-bottom: 0;
}

body {
  font-family: poynter-oldstyle-display, serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #404040; 
  background: url(images/serenity-stars.jpg) center bottom fixed no-repeat;
  background-size: cover;
}

.centertop {
	/*position: fixed;*/
	display: block;
	width: 20em;
	margin: auto;
	margin-top: 5em;
    -webkit-filter: drop-shadow(2px 2px 8px white);
    filter: drop-shadow(2px 2px 8px white);
}

.centertop img {
	width: 100%;
}
.footer {
	font-size: 1em;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
	font-size: 36px;
   	color: #f1c40f;
    text-align: center;
    margin: 10px;
    line-height: 1;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
	font-size: 24px;
    line-height: 1.4;
   	color: #f1c40f;
    text-align: left;
    margin: 10px;
}

p {
    font-family: poynter-gothic-text, sans-serif;
	font-weight: 400;
	font-style: normal;	font-size: 18px;
    line-height: 1;
    color: black;
    margin: 0;
}

element {
	margin: 20px;
}
    
nav {
	position: fixed;
	font-family: poynter-gothic-text, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	text-align: right;
	width: 96%;
	padding: 0px 2% 0px 2%;
	bottom: 0;
}

ul {
	align-content: inline;
	width: 100%;
	padding-left: 0;
}

nav li { display: inline;}

nav a{ padding: 10px; }

a {
	color: darkgray;
	text-decoration: none;
}

a:hover{
	color: #f1c40f;
}



