body {
    color: #212121;
    font-family: "Lato", sans-serif;
    background: #ECEFF1;
}

.navbar {
    width: 100%;
    background: none !important;
}

p {
    font-size: 1.125rem;
}

li {
    font-size: 1.125rem;
}

button {
    color: red;
}

.gradient {
    font-weight: 600;
    border-width: 2px;
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-weight: 600;
}