
.navbar {
    width: 100%;
    background: none !important;
}

p {
    font-size: 1.125rem;
}

li {
    font-size: 1.125rem;
}


button {
    color: red;
}

.gradient {
    font-weight: 600;
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 
img {
    padding: 0;
    float: left;
    height: 1280px;
} */