body {
    color: #212121;
    font-family: "Lato", sans-serif;
    background: #424242;
    background-image: url(../images/torrance-beach-at-night.png);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    background: none !important;
}

.bg-transparent {
    background-color: hsla(0,0%,100%,0.75) !important;
}

li {
    font-size: 1.125rem;
}

.gradient {
    font-weight: 600;
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-400 {
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-weight: 600;
}

.fw-600 {
    font-weight: 600;
    color: #eeeeee;
}