@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;0,800;1&family=Roboto:wght@400;700&display=swap');

/*general styles*/
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #c4c4c4;
	margin: 0 8%;

}

p {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0.3em 1em 1em 1.2em;
	display: inline-block;
}

.description {
	display: relative;
	float: left;
	width: 45em;
	padding: 2%;
}

.demo {
	display: absolute;
	float: left;
	padding: 2%;
	width: 35em;
	height: 800px;
}

iframe {
	width: 100%;
	height: 100%;
}

h2 {
	text-transform: uppercase;
}

h1, h2, h3, h5 {
	color: #2a4494;
	margin-bottom: 0.2em;
} 

h4 {
	color: #4ea5d9;
	margin-bottom: 0.2em;
}

hr {
	border-top: 1px solid #fff;
	background-color: #fff;
}

.highlight {
	color: green;
}

img {
	width: 40%;
}

a {
	text-decoration: none;
	color: #4ea5d9;
}

a:hover {
	color: green;
}