@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;0,800;1&family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: url(../images/cloud-mountain.jpg) center bottom fixed no-repeat;
	background-size: cover;
}

.centertop {
	display: block;
	width: 25em;
	margin: auto;
	margin-top: 5em;
}

.centertop img {
	width: 70%;
	margin: auto;
	display: block;
    -webkit-filter: drop-shadow(2px 2px 8px white);
    filter: drop-shadow(2px 2px 8px white);
}

nav li {
	display: block;
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	color: yellow;
}