@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;0,800;1&family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: auto;
	padding: 0;
	margin: 0;
	background: url(images/cloud-mountain.jpg) center bottom fixed no-repeat;
	background-size: cover;
/*	background-color: #c4c4c4;*/
}

.centertop {
	display: block;
	width: auto;
	max-width: 350px;
	margin: auto;
	margin-top: 5em;
}

.centertop img {
	width: 70%;
	margin: auto;
	display: block;
    -webkit-filter: drop-shadow(2px 2px 8px white);
    filter: drop-shadow(2px 2px 8px white);
}

.container {
	display: block;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

a:hover {
	color: yellow;
}