body {
    color: #212121;
    font-family: "Lato", sans-serif;
    background: #EFEFF1;
}

.card {
    background: #EFEFF1;
}

.navbar {
    width: 100%;
    background: none !important;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1.125rem;
    line-height: 1.6;
}

li {
    font-size: 1.125rem;
}

.gradient {
    font-weight: 600;
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-weight: 600;
}
