body {
    color: #212121;
    font-family: "Lato", sans-serif;
    background: #EFEFF1;
}

.card:hover,
.card:focus {
    box-shadow: 0px 0px 8px #BDBDBD;
}

.navbar {
    width: 100%;
    background: none !important;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1rem;
}

a,
a:hover {
    color: #212121;
}

li {
    font-size: 1.125rem;
}

.gradient {
    font-weight: 600;
    border-width: 2px;
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-weight: 600;
}
