body {
    color: #212121;
    font-family: "Lato", sans-serif;
    background: #424242;
    background-image: url(../images/torrance-beach-at-night.png);
    background-size: cover;
    background-attachment: fixed;
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 8px hsla(0,0%,0%, 0.4);
    background-color: hsla(0,0%,100%,0.8) !important;
    transition-property: background-color;
    transition-duration: 175ms;
}

.navbar {
    width: 100%;
    background: none !important;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1rem;
}

a,
a:hover {
    color: #212121;
}

li {
    font-size: 1.125rem;
}

.bg-transparent {
    background-color: hsla(0,0%,100%,0.65) !important;
}

.gradient {
    font-weight: 600;
    border-width: 2px;
    background: -webkit-linear-gradient(right,#30CFD0 0%, #4d00aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-weight: 600;
}

.fw-600 {
    font-weight: 600;
    color: #eeeeee;
}