
.navbar {
    width: 100%;
    background: none !important;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1.125rem;
}

li {
    font-size: 1.125rem;
}

h4 {
    line-height: 1.75;
}

a{
    color: linear-gradient(to right, #9602BB, #01F0B6) !important;
}