body {
    height: 100%;
    width: 100%;
	background-color: #eaeaea;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.0;
    word-wrap: break-word;
}

#bigbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

#leftbox {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    padding: 0%;
    background: url("camping_sunrays.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#rightbox {
    position: absolute;
    right: 0px;
    width: 46%;
    height: auto;
    border-left: 5px solid #222222;
    margin-top: 220px;
    margin-left: 2%;
    padding-left: 2%;
    text-align: left;
    text-overflow: ellipsis;
}

h1 { 
	color: #222222; 
	font-size: 48px;
	font-weight: 600;
}

h2 {
    color: #222222;
	text-transform: uppercase;
	font-weight: 600;
}

a {
	color: darkblue; 
	text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: red;}

ul.plainlist { 
	list-style: none;
	margin: 0;
	padding: 0;
}

li a {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
	line-height: 1.6;
}



